<?xml version="1.0"?>
<configuration>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Db4objects.Db4o" publicKeyToken="6199cd4f203aa8eb"/>
		<bindingRedirect oldVersion="7.13.143.14312" newVersion="@db4o.version.iteration.revision@"/>
	  </dependentAssembly>

	  <dependentAssembly>
		<assemblyIdentity name="Db4oUnit" publicKeyToken="6199cd4f203aa8eb"/>
		<bindingRedirect oldVersion="7.13.143.14312" newVersion="@db4o.version.iteration.revision@"/>
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0.30319"/> <!-- 4.0 RTM -->
    <supportedRuntime version="v2.0.50727"/> <!-- 2.0 RTM --> 
  </startup>
</configuration>
