<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TracingEnabled" value="false" />
    <add key="TraceFileSizeInMB" value="2" />
    <add key="ExceptionLogging" value="true" />
    <add key="LogSink" value="File" />
    <add key="FileSizeInMB" value="2" />
    <add key="CriticalityLevel" value="Low" />
  </appSettings>
</configuration>