<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.db4o.Wiki.Offline.Html.HtmlTransformSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="com.db4o.Wiki.Offline.Html.HtmlTransform" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="com.db4o.Wiki.Offline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.db4o.Wiki.Offline.Html.HtmlTransform" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.db4o.Wiki.Offline.Html.HtmlTransformSettings>
            <setting name="OutputPath" serializeAs="String">
                <value>Html\</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>in\</value>
            </setting>
        </com.db4o.Wiki.Offline.Html.HtmlTransformSettings>
        <com.db4o.Wiki.Offline.Html.HtmlTransform>
            <setting name="OutputPath" serializeAs="String">
                <value>Html\</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>out\</value>
            </setting>
        </com.db4o.Wiki.Offline.Html.HtmlTransform>
        <com.db4o.Wiki.Offline.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>Eric Falsken</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>db4o</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseOutputPath" serializeAs="String">
                <value>%USERPROFILE%\Desktop\WikiOffline\</value>
            </setting>
            <setting name="FilterTerms" serializeAs="String">
                <value />
            </setting>
            <setting name="com_db4o_Wiki_Offline_WikiService_WikiService"
                serializeAs="String">
                <value>http://developer.db4o.com/wiki/WikiService.asmx</value>
            </setting>
            <setting name="MergeSource" serializeAs="String">
                <value>merge/</value>
            </setting>
            <setting name="StartingTopicSet" serializeAs="String">
                <value>wiki:///Resources/Reference</value>
            </setting>
        </com.db4o.Wiki.Offline.Properties.Settings>
    </applicationSettings>
	<system.diagnostics>
		<switches>
			<add name="OutputXml" value="0"/>
		</switches>
	</system.diagnostics>
</configuration>