.console {
   z-index: 1;
   color: white;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 150px;
   margin: 0px;
   overflow: hidden;
}

div#pagecontainer {
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: 0px;
}

html,body {
	overflow: hidden;
	height: 100%;
	margin: 0px;
}

.button {
	background-color: #ADD65C;
	color: #666177;
}